<header>
  <div class="container-fluid">
    <div class="header-middle d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="left-region">
          <div class="d-flex align-items-center">
            <a routerLink="/public/consultas" class="logo"><img class="logo-img" src="assets/img/logoCurso.png" /></a>
            <span class="sitename">Catálogo de Cursos</span>
          </div>
        </div>
        <div class="right-region ml-auto">
        </div>
      </div>
    </div>
    
    <div class="header-bottom d-flex align-items-center">
      <a routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i><span>Página Inicial</span></a>      
      <a routerLink="/public/consultas" routerLinkActive="active"><i class="icons icon-magnifier"></i><span>Cursos</span></a>
    </div>
    
  </div>
</header>
