.app-loading {
.logo {
width: 120px;
height: 120px;

// this way asset gets processed by webpack 
background: url("./assets/img/cap.ico") center center no-repeat;
background-size: cover;
}
}
