@font-face {
    font-family: 'Eina';
    src: local('Eina 03 Bold'),
         url('assets/fonts/eina/eina-03-bold.woff2') format('woff2'),
         url('assets/fonts/eina/eina-03-bold.woff') format('woff'),
         url('assets/fonts/eina/eina-03-bold.ttf') format('ttf'),
         url('assets/fonts/eina/eina-03-bold.eot?#iefix') format('eot');
    font-weight: 700;
    unicode-range: U+000-5FF;
}
  
@font-face {
    font-family: 'Eina';
    src: local('Eina 03 SemiBold'),
         url('assets/fonts/eina/eina-03-semibold.woff2') format('woff2'),
         url('assets/fonts/eina/eina-03-semibold.woff') format('woff'),
         url('assets/fonts/eina/eina-03-semibold.ttf') format('ttf'),
         url('assets/fonts/eina/eina-03-semibold.eot?#iefix') format('eot');
    font-weight: 600;
    unicode-range: U+000-5FF;
}
  
@font-face {
    font-family: 'Eina';
    src: local('Eina 03 Regular'),
         url('assets/fonts/eina/eina-03-regular.woff2') format('woff2'),
         url('assets/fonts/eina/eina-03-regular.woff') format('woff'),
         url('assets/fonts/eina/eina-03-regular.ttf') format('ttf'),
         url('assets/fonts/eina/eina-03-regular.eot?#iefix') format('eot');
    font-weight: 400;
    unicode-range: U+000-5FF;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

app-root, body, html {
    height: 100%;
}

body {
    background-color: #F2F3F8;
    font-family: 'Eina', 'Helvetica Neue', Helvetica, sans-serif;
}

.page, body {
    display: flex;
    flex-direction: column;
}

span.required-symbol {
    color: #dc3545;
}

.link {    
    cursor: pointer;
}
.list-group .link {
    color: #007bff !important;
}
.link:hover {
    text-decoration: underline !important;
}

.form-group label {
    font-weight: 600;
}

.stack {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;

    .stack-item {
        display: table-cell;
        height: 100%;
    }
}

ui-switch {
    height: 33px;
}

header {
    color: #FFF;
    background-color: #223d7b;
    border-bottom: 4px solid #182f63;

    > .container-fluid {
        padding: 0 100px;

        .header-top {
            padding: 20px 0;
            height: 40px;
        }
        .header-middle {
            padding: 20px 0;

            .logo {
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid #3a5592;

                img {
                    width: 100px;
                    height: auto;
                }                
            }
            span.sitename {
                font-size: 34px;
                line-height: 1;
                text-shadow: -2px 2px 0px #112552;
            }
        }
        .header-bottom {
            margin-bottom: -4px;

            > a {
                span {
                    margin-left: 3px;
                }
            }
            > a, span > a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #c6d6fb;
                padding: 15px 10px;
            }
            > a:first-child {
                color: #FFF;
            }
            > a:hover, span:hover > a {
                background-color: #182F63;
                text-decoration: none;
            }
            > a.active {
                background-color: #FFF;
                color: #182F63;
            }
            > a:first-child {                
                padding: 12px 20px 13px 20px;

                > span {
                    display: none;
                }
            }
            > a:first-child > i {
                font-size: 28px;
            }
            > .open {
                position: relative;

                ul.dropdown-menu {
                    margin-top: 14px;
                    border-radius: 0 0 .25rem .25rem;
                }
            }
        }
    }
}

.page-container.fixed-header {
    padding-top: 54px;

    header {
        box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    }
    header > .container-fluid .header-bottom > a.active {
        background-color: #007bff;
        color: #ffffff;
    }
    header .header-top,
    header .header-middle {
        display: none !important;
    }

    .main-container {
        margin-top: 114px;
    }
}

.main-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;

    .main-content {
        position: relative;
        flex: 1 auto;
        padding: 0 100px 40px 100px;
        // margin-bottom: 60px;
        overflow: hidden;
    }
}

.page-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    padding: 40px 100px 20px 100px;
    margin: 0 -100px  40px -100px;

    .actions {
        flex-shrink: 0;
        text-align: right;
    }

    h1 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.portlet {
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 2.2rem;

    .portlet-title {
        margin: -20px -20px 20px -20px;
        padding: 15px 20px 13px 20px;
        border-top: 3px solid #e0e0e0;
        color: #5f5f5f;
        border-bottom: 1px solid #f2f3f8;
    }
}

.alert .form-control:disabled, 
.alert .form-control[readonly] {
    background-color: #f9f9f9;
}

.modal-dialog .modal-content {
    border: 1px solid #FFF;

    .modal-header {
        background-color: #09498E;
        color: #FFF;
    }
    .modal-footer {
        background-color: #f9f9f9;
        border-top-color: #CCC;
    }
    .modal-footer > :not(:last-child),
    .modal-footer .actions > :not(:last-child) {
        margin-right: .25rem !important;
    }
    .modal-footer > .actions {
        margin: 0 !important;
    }
}
.modal-dialog.modal-xl {
    max-width: 1280px;
}

modal-container:nth-of-type(2) {
    background: rgba(0, 0, 0, 0.5);
}

.popover-content {
    ul.list-group {
        border: 0 !important;

        li {
            padding: 10px !important;
            font-size: 12px;
        }
        li:last-child {
            border-bottom: 1px solid #CCC !important;
        }
    }
}

.ui-hero-datagrid {
    margin-bottom: 0 !important;
}

section.filter-section {
    background-color: #dcdfec;
    border-bottom: 1px solid #c2c8e6;
    padding: 20px 100px 5px 100px;
    margin: -40px -100px 40px -100px;
}

.card-custom-deck {
    display: flex;
    flex-wrap: wrap;
    margin: -1%; 

    .card {
        margin: 1%;
        width: 23%;
        transition: transform .2s ease-in-out;
        position: relative;

        .card-badge-tr {
            position: absolute;
            top: -1px;
            right: 5px;
            background-color: #f2f3f8;
            color: #909090;
            padding: 10px 5px 20px 5px;
            border-left: 1px dashed #CCC;
            border-right: 1px dashed #CCC;
            width: 50px;

            span {
                display: block;
                line-height: 1;
            }
        }
        .card-badge-tr::after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: -1px;
            left: 0;
            border-left: 24px solid transparent;
            border-bottom: 17px solid #FFF;
            border-right: 24px solid transparent;
        }

        .card-body .card-title h5 {
            text-transform: capitalize;
        }
        .card-body.with-badge {
            padding-right: 60px;
            min-height: 150px;
        }
    }
    .card:hover {
        transform: scale(1.05);
        border-color: #116dd0;

        .card-title h5 {
            color: #116dd0;
        }
        .card-footer {
            background-color: #116dd0;
            border-top: 3px solid #064a92;
        }
        .card-badge-tr {
            background-color: #116dd0;
            color: #FFF;
            border-left: 1px dashed #064a92;
            border-right: 1px dashed #064a92;
        }
    }

    @supports (-moz-appearance:none) {
        .card {
            margin-bottom: 15px;
        }
    }
}
.card-custom-deck.initialized {
    .card {
        animation-fill-mode: inherit;
    }
}

.card {
    .card-footer {
        padding: .75rem 1.25rem;
        background-color: #f8f9fa;
        border-top: 1px solid #e0e0e0;
    }
}

.timeline-list {
    padding: 0;
    margin: 0;
    max-height: 600px;

    li {
        position: relative;
        list-style: none;
        padding: 15px 0 15px 10px;
        margin: 0 0 -1px 3px;
        border-left: 1px solid #d2d2d2;
        border-radius: 0;

        .description {
            color: #383838;
            font-weight: 600;
        }
        .time {
            color: #949494;
            margin-top: 3px;
            margin-left: 10px;
            font-style: italic;
            font-size: 12px;
            font-weight: 600;
            margin-right: 15px;
        }
    }
    li::before {
        content: "";
        position: absolute;
        top: 22px;
        left: -6px;
        z-index: 1;
        width: 11px;
        height: 11px;
        border-radius: 100%;
        background-color: #d2d2d2;
    }
    li.alert::before {
        background-color: #DC3545;
    }
    li.atual > div {
        background-color: #f7f7f7;
        padding: 15px;
        border-radius: 10px;
        box-shadow: -1px 1px 0px 1px #e6e6e6;

        .time {
            color: #666;
            margin-right: 0;
        }
    }
    li.atual::before {
        top: 37px;
    }
}

img.base64-img {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    object-fit: cover;
    object-position: top;
    margin: 4px 0;
}

@media (max-width: 1250px) {
    header > .container-fluid .header-bottom > a > span,
    header > .container-fluid .header-bottom > span > a > span {
        display: none;
    }
    header > .container-fluid .header-bottom > a,
    header > .container-fluid .header-bottom > span > a {
        padding: 18px 10px 19px 10px;
    }
    header > .container-fluid .header-bottom > a:first-child {
        padding: 12px 10px 13px 10px;
    }
}

@media (max-width: 1280px) {
    .card-custom-deck .card {
        width: 31%;
    }
}

@media (max-width: 1024px) {
    .card-custom-deck .card {
        width: 48%;
    }
    header .header-middle .left-region {
        .sitename {
            font-size: 24px !important;
        }
    }
}

@media (max-width: 930px) {
    header .header-middle .right-region .username {
        display: none;
    }
}

@media (max-width: 860px) {
    header > .container-fluid,
    .main-container > .main-content {
        padding: 0 20px;
    }

    .main-container > .main-content .page-title {
        padding: 40px 20px 20px 20px;
        margin: 0 -20px 40px -20px;
    }
    .main-container > .main-content .filter-section {
        padding: 20px 20px 5px 20px;
        margin: -40px -20px 40px -20px;
    }

    .timeline-list {
        li {
            .time {
                width: 100%;
                margin: 0 !important;
            }
        }
    }
}

@media (max-width: 720px) {
    .card-custom-deck {
        margin: -20px 0;

        .card {
            width: 100%;
            margin: 20px 0;
        }
    }
    header .header-middle .left-region {
        .sitename {
            display: none;
        }
    }
}

@media (max-width: 640px) {
    app-header {
        position: inherit !important;

        header > .container-fluid .header-top,
        header > .container-fluid .header-middle {
            display: block !important;
        }
    }

    .page-container.fixed-header {
        padding-top: 0 !important;
    }

    .page-container.fixed-header header .header-top,
    .page-container.fixed-header header .header-middle {
        display: block !important;
    }
    
    .main-container {
        margin-top: 0 !important;
    }

    header .header-middle .left-region {
        a.logo {
            border-right: 0;
            margin-right: 0;
            padding-right: 0;
        }
    }

    header > .container-fluid .header-bottom {
        flex-wrap: wrap;
        margin-bottom: 0;

        > a {            
            padding: 6px 10px;
        }
        > a,
        > span {
            width: 100%;
            justify-content: flex-start;

            > i:first-child,
            > a > i:first-child {
                width: 20px;
            }

            > span {
                display: block !important;
            }
        }
        > a.active,
        > span.active {
            padding: 6px 10px;
        }
        > span > a {
            justify-content: flex-start;
            padding: 6px 10px;

            > span {
                display: block !important;
            }
        }
        > a:first-child {    
            color: #c6d6fb;            
            padding: 6px 10px;

            > span {
                display: block;
            }
            > i {
                font-size: 20px;
            }
        }
        > a.active:first-child {
            color: #223D7B;
        }
    }
}
.swal2-popup {
    width: 58em !important;
}

.swal2-popup .swal2-content {
    font-size: 1em;
}

.row{
    align-items: center;
}

.custom-control-inline {
    margin: auto;
    margin-bottom: .8em;
}

.custom-control-label::before {
    background-color: white;
}