<div class="page-title">
    <h1>Cursos</h1>
    <div class="alert alert-secondary" role="alert">
        <p>Antes de consultar a lista de atividades e se inscrever, verifique se você realmente poderá se dedicar à
            atividade. Para reduzir a taxa de evasão, criamos algumas regras que determinam o <b><a class="mb-0 link"
                (click)="popar()">impedimento temporário de inscrição </a></b> em alguns casos. </p>
            </div>
        </div>
        <div *blockUI="'loading'">
            <section class="filter-section">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Filtros <i class="fa fa-filter"></i></h3>
                    <div class="d-flex align-items-center ml-2">
                        <span class="mr-2">Busca avançada</span>
                        <ui-switch name="buscaAvancada" [(ngModel)]="buscaAvancada" (change)="LimparFiltrosAvancados()"></ui-switch>
                    </div>
                </div>
                <hr />

                <form novalidate>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Nome</label>

                                <input [(ngModel)]="nome" [typeahead]="cursos" type="text" placeholder="Nome do curso"
                                typeaheadOptionField="nome" (typeaheadNoResults)="typeaheadNoResults($event)" class="form-control"
                                name="busca">
                                <div class="alert alert-danger" *ngIf="noResult">Curso não encontrado</div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6">
                            <div class="form-group">
                                <input-select label="Metodologia" defaultOption="Selecione" name="Metodologia" [(ngModel)]="filtrosAvancados.metodologia">
                                <option *ngFor="let item of Metodologias" value="{{item.id}}">{{item.nome}}</option>
                            </input-select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="form-group">
                            <input-select label="Tipo de evento" defaultOption="Selecione" name="Tipo de evento"
                            [(ngModel)]="filtrosAvancados.evento">
                            <option *ngFor="let item of eventos" value="{{item.id}}">{{item.nome}}</option>
                        </input-select>
                    </div>
                </div>

            </div>
            <div class="row animated fadeInUp faster" *ngIf="buscaAvancada">
                <div class="col-xl-3 col-lg-6">
                    <div class="form-group">
                        <input-select label="Professor" defaultOption="Selecione" name="Professor" [(ngModel)]="professor">
                        <option *ngFor="let item of professores" value="{{item.id}}">{{item.nome}}</option>
                    </input-select>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div clas="row">
                  <div class="form-group">
                    <label>Período</label>
                    <input class="form-control" id="periodo" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
                </div>
            </div>      
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <input-select label="Publico alvo" defaultOption="Selecione" name="publico" [(ngModel)]="filtrosAvancados.publico">
                <option *ngFor="let pub of publicos" value="{{pub.id}}">{{pub.nome}}</option>
            </input-select>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="form-group">
            <input-select label="Eixo temático" defaultOption="Selecione" name="EixoTematico" [(ngModel)]="filtrosAvancados.Eixo">
            <option *ngFor="let item of Eixos" value="{{item.id}}">{{item.nome}}</option>
        </input-select>
    </div>
</div>                
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="Filtrar()"><i class="fa fa-search"></i>
            Buscar</button>
            <button type="button" id="limpar" class="btn btn-outline-secondary ml-1" (click)="LimparFiltros()"><i class="fa fa-eraser"></i>
            Limpar</button>
        </div>
    </div>
</div>
</form>
</section>
<div *ngIf="dadosEmExibicao!=null">
    <div class="card-custom-deck mb-3" [ngClass]="{'initialized': cardDeckInitialized}">
        <div class="card fadeInLeft faster" *ngFor="let curso of dadosEmExibicao;" [ngStyle]="{'animation-delay': (0.05 * i) + 's'}"
        [ngClass]="{'animated': !animationsInitialized && paginaAtual == 1}">
        <div class="card-badge-tr text-center" *ngIf="curso.turmas != null">
            <i class="fa fa-calendar fa-2x mb-1"></i>
            <small>turma</small>
            <span class="ano font-weight-bold">{{ curso.turmas[0].fimInscricao | date:'yyyy'}}</span>
            <span class="mes font-weight-bold">{{ curso.turmas[0].fimInscricao | date:'MMM' | uppercase}}</span>
            <span class="dia">{{ curso.turmas[0].fimInscricao | date:'dd'}}</span>
        </div>
        <div class="card-body" [ngClass]="{'with-badge': curso}">
            <div class="card-title">
                <h5 class="mb-0 link" (click)="VerDetalhes(curso)">{{curso.nome}}</h5>
            </div>
            <div *ngIf="curso.turmas != null">
                <small class="text-success font-weight-bold" *ngIf="curso.turmas.length > 1">
                    <span class="badge badge-success">{{curso.turmas.length}}</span>
                    Turmas abertas<br />
                </small>
                <small class="text-success font-weight-bold" *ngIf="curso.turmas.length == 1">
                    <span class="badge badge-success">1</span>
                    Turma aberta<br />
                </small>
            </div>
            <small class="card-text">{{ curso.descricao | truncate: 220 }}</small>
        </div>
        <div class="card-footer">
            <div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-light btn-sm" *ngIf="curso.turmas != null" (click)="inscrever(curso.turmas[0].link)"><i
                    class="fa fa-check"></i>
                Inscreva-se</button>
                <button class="btn btn-light btn-sm" (click)="VerDetalhes(curso)"><i class="fa fa-database"></i>
                Detalhes</button>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <select class="form-control" [(ngModel)]="numeroItensPorPagina" (change)="AlterarNumeroItensPorPagina()">
            <option value="8">8</option>
            <option value="16">16</option>
            <option value="24">24</option>
            <option value="32">32</option>
            <option value="40">40</option>
            <option value="48">48</option>
            <option value="56">56</option>
        </select>
        <span class="flex-shrink-0 ml-2">Cursos por página</span>
    </div>
    <pagination #paginator class="paginador mb-3" [(ngModel)]="paginaAtual" [totalItems]="dadosFiltrados.length"
    [boundaryLinks]="true" [directionLinks]="true" [rotate]="rotate" [itemsPerPage]="numeroItensPorPagina"
    [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
    (pageChanged)="PageChanged($event)">
</pagination>
</div>
</div>

<p *ngIf="!dadosEmExibicao || dadosEmExibicao.length == 0">Nenhum curso encontrado.</p>
</div>
